/* Universal Styles Start */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.text__primary {
  color: #fd6e0a;
}

/* Buttons Style Start */
.btn{
  height: 64px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 20;
  padding: 18px 35px;
  cursor: pointer;
}
.btn__primary {
   border: 1px solid transparent;
  background-color: #fd6e0a;
  color: #fff;
}
.btn__primary:hover{
   background-color: #fff;
   color: #fd6e0a;
   border: 1px solid #fd6e0a;
} 
.btn__secondary{
   background-color: transparent;
   color: #fd6e0a;
   border: 1px solid #fd6e0a;
}
.btn__secondary:hover{
   background-color: #fd6e0a;
   color: #fff;
   border: 1px solid transparent;
}
/* Buttons Style End */

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  margin-top: 130px;
  margin-bottom: 130px;
  padding: 0 20px;
}
/* Universal Styles End */

/* Header Section Styles Start */
.header {
  background: #fff8f3;
  background-image: url('../images/header_bg.png'),url('../images/developer.png');
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
/* NavBar Style Start */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 200px;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav > ul > li {
  margin-left: 50px;
}
.nav__title {
  font-weight: 800;
  font-size: 45px;
}
/* NavBar Style End */

/* Banner Styles Start */
.banner {
  display: flex;
  align-items: center;
  margin: 0 200px;
}
.banner__sub-title {
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 20px;
}
.banner__title {
  font-weight: 700;
  font-size: 85px;
  margin-bottom: 20px;
}
.banner-description {
  color: #757575;
  font-size: 18px;
}
/* Banner Styles End */

/* Header Section Styles End */
